/* 全体に適応 */
* {
    padding: 0;
    margin: 0;
    font-family: 'Zen Maru Gothic', sans-serif;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}

/* header部 */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 999;
    transition: background-color 0.5s ease;
    background-color: #00000000;
}

header.scroll {
    transition: all 0.5s ease;
    background-color: #000;
}

nav {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}

nav a {
    color: #fff;
}

nav h1 a{
    font-size: 30px;
}

nav ul {
    display: flex;
    display: -webkit-flex;
}
nav ul li a{
    margin: 0 13px;
    padding: 2px 2px 2px 0;
    font-size: 20px;
    transition: border-bottom 0.5s ease;
    border-bottom: solid 2px #00000000;
}
nav ul li a:hover {
    transition: border-bottom 0.5s ease;
    border-bottom: solid 2px #fff;
}

#top {
    background-image: urL(./top.jpg);
}
#top-gray {
    height: 800px;
    background-color: #000;
    opacity: 0.4;
}
#top-text {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 800px;
    padding: 0 200px;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
}

#title {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}
#subtitle {
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    margin-left: auto;
}

/* Main */


/* 各セクション */
section {
    height: 500px;
    padding: 40px 60px;
    text-align: center;
}
section:nth-child(2n) {
    background-color: rgb(235, 235, 235);
}

.title {
    font-size: 30px;
    margin: 10px 20px;
}