* {
  padding: 0;
  margin: 0;
  font-family: 'Zen Maru Gothic', sans-serif;
}

strong {
  color: var(--primary);
}

section {
  padding: 40px 0px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  justify-content: center;
  align-items: center;
}

section:not(#top):nth-child(2n) {
  background-color: var(--bg-sub);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

p {
  font-size: var(--body);
}

@media screen and (max-width: 600px) {
  section {
    padding: 10vw 4.5vw;
  }
}
