---
import AboutSection from '@components/aboutSection.astro';
import ActivitySection from '@components/activitySection.astro';
import TopSection from '@components/topSection.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout>
  <TopSection />
  <AboutSection />
  <ActivitySection />

  <section id='project'>
    <h2 class='title'>プロジェクト</h2>
    <div class='content'>
      <p>プロジェクト紹介ページ作成中!</p>
      <div id='project-container'>
        <div class='project-card'>
          <div class='project-card-overgray'></div>
          <span class='project-card-badge'>活動中</span>
          <h3 class='project-card-title'>
            <span>大学生活</span><span>支援アプリ開発</span>
          </h3>
        </div>
        <div class='project-card'>
          <div class='project-card-overgray'></div>
          <span class='project-card-badge'>活動中</span>
          <h3 class='project-card-title'>
            <span>競技</span><span>プログラミング</span>
          </h3>
        </div>
        <div class='project-card'>
          <div class='project-card-overgray'></div>
          <span class='project-card-badge'>活動中</span>
          <h3 class='project-card-title'>
            <span>開発ロードマップ</span><span>管理アプリ</span>
          </h3>
        </div>
        <div class='project-card'>
          <div class='project-card-overgray'></div>
          <span class='project-card-badge'>New</span>
          <h3 class='project-card-title'>
            <span>Unity</span><span>勉強会</span>
          </h3>
        </div>
      </div>
    </div>
  </section>
  <section id='works'>
    <h2 class='title'>Works</h2>
    <div class='content'>
      <div id='project-container'>
        <div class='project-card'>
          <div class='project-card-overgray'></div>
          <h3 class='project-card-title'>
            <span>WorkLab</span><span>入退室管理システム</span>
          </h3>
        </div>
        <div class='project-card'>
          <div class='project-card-overgray'></div>
          <h3 class='project-card-title'>
            <span>新風祭2022</span><span>展示ゲーム</span>
          </h3>
        </div>
      </div>
    </div>
  </section>
  <section id='blog'>
    <h2 class='title'>ブログ</h2>
    <div class='content'>
      <p>Comming soon...</p>
    </div>
  </section>
  <section id='contact'>
    <h2 class='title'>お問い合わせ</h2>
    <div class='content'>
      <div class='card'>
        <span class='card-title'>
          <strong>"サークル参加"</strong>
        </span>
        <div class='button' style='margin-top: 20px;'>
          <a href='https://forms.gle/dbijFMJSFVi3zH1y5' target='_brank' rel='noreferrer noopener'
            >参加フォームを開く</a
          >
        </div>
      </div>
      <p style='margin-top: 50px;'>
        <strong>
          その他の質問などは<br />
          TwitterDMへお問い合わせください
        </strong>
      </p>
      <div id='lab'>
        <div class='card'>
          <span class='card-title'>
            <strong>"公式Twitter"</strong>
          </span>
          <div class='button' style='margin-top: 20px;'>
            <a href='https://twitter.com/SuwaGeeks'>公式Twitter (@SuwaGeeks)</a>
          </div>
        </div>
      </div>
      <div id='lab'>
        <div class='card'>
          <span class='card-title'>
            <strong>"運営メンバーTwitter"</strong>
          </span>
          <div class='button' style='margin-top: 20px;'>
            <a href='https://twitter.com/mocchi8128'>もっちー (@mocchi8128)</a>
          </div>
          <br />
          <div class='button'>
            <a href='https://twitter.com/hgox02a'>ゆーだい (@hgox02a)</a>
          </div>
          <br />
          <div class='button'>
            <a href='https://twitter.com/Sora210_sus'>Sora210 (@Sora210_sus)</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
