---
import Footer from '@components/ui/footer.astro';
import Header from '@components/ui/header.astro';

interface Props {
  title?: string;
}

const { title = 'SuwaGeeks - 公立諏訪東京理科大学 技術部' } = Astro.props;
---

<!doctype html>
<html lang='ja'>
  <head>
    <!-- TODO -->
    <!-- <link rel='stylesheet' href='/css/stylesheet.css' /> -->
    <link rel='stylesheet' href='/css/variables.css' />
    <link rel='stylesheet' href='/css/global.css' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap'
      rel='stylesheet'
    />
    <script type='text/javascript' src='/js/script.js'></script>
    <link rel='icon' type='image/png' href='/img/favicon.png' />
    <meta
      name='description'
      content='公立諏訪東京理科大学の技術系サークルSuwaGeeksの公式ホームページです。'
    />
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <style>
      body {
        min-width: 1200px;
      }

      @media screen and (max-width: 600px) {
        body {
          min-width: 300px;
        }
      }
    </style>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
